Repository NREL/R2X, pull requests merged in 2024-11, with the labels that each got.

#57 feat: New emission_cap plugin that sets a custom constraint for Plexos output model.
  src/r2x/cli_functions.py
  src/r2x/defaults/reeds_input.json
  src/r2x/defaults/reeds_us_mapping.json
  src/r2x/enums.py
  src/r2x/exporter/plexos.py
  src/r2x/models/services.py
  src/r2x/models/utils.py
  src/r2x/parser/reeds.py
  src/r2x/plugins/emission_cap.py
  src/r2x/utils.py
  tests/conftest.py
  tests/data/pacific/inputs_case/co2_cap.csv
  tests/test_plugin_emission_cap.py
  tests/test_sienna_exporter.py
Labels: ReEDS2Plexos, PLEXOS, ReEDS

#77 feat: export fuel curves for plexos
  src/r2x/exporter/plexos.py
Labels: enhancement, PLEXOS, Working on it 💪

#62 fix: Compatibility fixes for standard scenarios
  src/r2x/defaults/plexos_output.json
  src/r2x/defaults/plexos_reports.json
  src/r2x/defaults/reeds_input.json
  src/r2x/defaults/reeds_us_mapping.json
  src/r2x/enums.py
  src/r2x/exporter/plexos.py
  src/r2x/models/branch.py
  src/r2x/models/services.py
  src/r2x/parser/reeds.py
  src/r2x/plugins/imports.py
  src/r2x/upgrader/file_tracker.csv
  src/r2x/upgrader/functions.py
  src/r2x/upgrader/helpers.py
  tests/test_upgrader.py
  tests/test_upgrader_helpers.py
Labels: ReEDS2PLEXOS, PLEXOS, ReEDS

#60 feat: Add hurdle rate plugin for ReEDS2Plexos
  src/r2x/cli_functions.py
  src/r2x/plugins/hurdle_rate.py
  tests/test_plugin_hurdle_rate.py
Labels: ReEDS2PLEXOS, ReEDS

#80 feat: Update runner to UV
  .github/workflows/CI.yaml
  .github/workflows/docs-build.yaml
  README.md
  docs/source/_static/model_coverage.png
  docs/source/conf.py
  pyproject.toml
Labels: Docs
